body{
  font-family: arial;
}
.jumbotron {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 0;
  height: 420px;
}
#fontfix {
  font-family: 'Satisfy', cursive;
  font-size:2em;
  padding-top: 20px;
  text-align: center;
  color:#FF827B;
}
.container>h2 {
  text-align: center;
  color:#fff;
}
.navbar {
  margin-bottom: 0;
  background-color: #fff;
}
.sections {
  background-color: #EDF1F4;
  border: 3px solid #fff;
  padding: 10px;
  height: 35%;
}
.sections>img {
  width:90%;
  display: block;
  margin: auto;
  margin-top: 10px;
}
.centerRow {
  text-align: center;
}
footer {
  background-color: #333;
  margin-top: 50px;
  color: #fff;
  border: 5px solid #333;
}
footer>.row {
  margin: 0;
}
footer>.col-sm-4 {
  padding: 0;
}
#fp {
  text-align: center;
  color: #666;
  margin-bottom: 0;
  padding: 5px;
}
img {
  display: block;
  margin: auto;
  margin-top: 10px;
}
.column {
  border-left: 1px solid #666;
  border-top: 5px solid #333;
}
ul{
  list-style: none;
}
.marginfix {
  margin-bottom: 0;
  text-align: left;
  color: #fff;
}
